@use "../../global.scss";

@mixin Medium-Break-Point {
  @media (max-width: 960px) {
    @content;
  }
}

@mixin Small {
  @media (max-width: 720px) {
    @content;
  }
}

.layout {
  padding: 40px 80px;
  background-color: global.$bg;
  display: flex;
  overflow-x: hidden;
  height: 100%;
  flex: 1;

  &.white {
    background-color: global.$bgWhite;
  }

  &.landing {
    @include Small() {
      padding: 20px;
    }
    &.white {
      .layout-wrapper {
        gap: 40px;

        @include Small() {
          gap: 20px;
        }
      }
    }
  }

  @include Medium-Break-Point() {
    padding: 40px 20px;
  }

  .layout-wrapper {
    max-width: global.$maxWidth;
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 100%;
  }
}
